.main-container{
    background-color: rgb(228, 228, 228);
    width: 50%;
    height: auto;
    margin: auto;
    padding-bottom: 20px;
    margin-top: 20px;
}
h1{
    padding-top: 10px;
    margin-left: 245px;
}
.form-control{
    width: 50px;
}
.work-value{
    display: flex;
    padding: 5px;
    justify-content: space-around;
}
input{
    padding: 5px;
}
.list-group-item{
    margin-left: 13px;
    width: 95%;
}
.strikethrough:checked + .stri{
    text-decoration: line-through;
}
#check{
    margin-right: 10px;
}